<section class="fadeIn">
    <div class="container-full-padding about-us-container team-grid">
        <div class="row">
            <div class="col-xl-60">
                <div class="about-us-text">
                    <div class="titles">
                        <h1 class="title">What is <span class="colorIn">Package Localization?</span></h1>
                    </div>
                    <p>
                        Looking to distribute your game to multiple regions? WAYPOINT provides packaging localization to get your title ready for retail across all major regions including US, South America, EMEA, GCAM and beyond. We can design from scratch or take your existing design and adapt it based on requirements for these regions. Localizations include rating, SKU and barcode information, and marketing copy to name a few, taking into account labeling requirements from both 1st parties and the countries in which you plan to distribute.
                    </p>
                    <div class="titles">
                        <h1 class="title text-right"><span class="colorIn">What is</span> our process for localization?</h1>
                    </div>
                    <p class="text-right">
                        Our localization process begins with SKU information, which contains details for each version of the game that will be sold in various regions. From this, we are able to generate a barcode, as well as get legal information about the developer and publisher, age rating, wrap and disc numbers etc that relate to each version manufactured. Next we translate to various languages depending on the pack requirements. We then work with our design team to prepare a mechanical layout for digital proofing by first parties who provide feedback and notes until the layout is approved and submitted to the printer. 
                    </p>
                </div>
            </div>
            <div class="col-50 company-animation">
                <div class="animation-container">
                    <animations-app [animation]="'aboutUs.json'" [loop]="false"></animations-app>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="fadeIn">
    <div class="container-big p-sl-1 about-us-container team-grid">
        <div class="row">
            <div class="col-50">
                <div class="about-us-text">
                    <div class="titles">
                        <h1 class="title">What is <span class="colorIn">Package Localization?</span></h1>
                    </div>
                    <p>
                        Looking to distribute your game to multiple regions? WAYPOINT provides packaging localization to get your title ready for retail across all major regions including US, South America, EMEA, GCAM and beyond. We can design from scratch or take your existing design and adapt it based on requirements for these regions. Localizations include rating, SKU and barcode information, and marketing copy to name a few, taking into account labeling requirements from both 1st parties and the countries in which you plan to distribute.
                    </p>
                </div>
            </div>
            <div class="col-50">
                <div class="about-us-text">
                    <div class="titles">
                        <h1 class="title"><span class="colorIn">What is</span> our process for localization?</h1>
                    </div>
                    <p>
                        Our localization process begins with SKU information, which contains details for each version of the game that will be sold in various regions. From this, we are able to generate a barcode, as well as get legal information about the developer and publisher, age rating, wrap and disc numbers etc that relate to each version manufactured. Next we translate to various languages depending on the pack requirements. We then work with our design team to prepare a mechanical layout for digital proofing by first parties who provide feedback and notes until the layout is approved and submitted to the printer. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-50 company-animation">
            <div class="animation-container">
                <animations-app [animation]="'aboutUs.json'" [loop]="false"></animations-app>
            </div>
        </div>
    </div>
</section> -->