.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;

  .titles {
    margin-bottom: 1rem;

    .title {
      font-size: 2.5rem;
    }

    .sub-title {
      font-size: 2.3rem;
      font-weight: 300;
      color: var(--color-purple);
    }
  }

  p {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-bottom: 5rem;
    font-size: 1.3rem;
  }
}

.company-logo {
  width: 100%;
}

.animation-container {
  max-width: 60%;
  margin: 0 auto;
}

.company-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  img {
    width: 75%;
  }
}
.about-us-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
